.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.image-box {
  width: 230px;
}

.name {
  margin: 15px 15px 0px 25px;
}

.price {
  margin: 0px 15px 0px 25px;

}

.image {
  width: 200px;
  height: 200px;
  margin: 15px;
}

.one {
  grid-column: 1;
  grid-row: 1;
  background-image: url("sneakers/sneaker-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.two {
  grid-column: 2;
  grid-row: 1;
  background-image: url("sneakers/sneaker-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.three {
  grid-column: 3;
  grid-row: 1;
  background-image: url("sneakers/sneaker-3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.four {
  grid-column: 1;
  grid-row: 2;
  background-image: url("sneakers/sneaker-4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.five {
  grid-column: 2;
  grid-row: 2;
  background-image: url("sneakers/sneaker-5.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.six {
  grid-column: 3;
  grid-row: 2;
  background-image: url("sneakers/sneaker-6.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.seven {
  grid-column: 1;
  grid-row: 3;
  background-image: url("sneakers/sneaker-7.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.eight {
  grid-column: 2;
  grid-row: 3;
  background-image: url("sneakers/sneaker-8.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nine {
  grid-column: 3;
  grid-row: 3;
  background-image: url("sneakers/sneaker-9.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ten {
  grid-column: 1;
  grid-row: 4;
  background-image: url("sneakers/sneaker-10.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.eleven {
  grid-column: 2;
  grid-row: 4;
  background-image: url("sneakers/sneaker-11.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.twelve {
  grid-column: 3;
  grid-row: 4;
  background-image: url("sneakers/sneaker-12.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.thirteen {
  grid-column: 1;
  grid-row: 5;
  background-image: url("sneakers/sneaker-13.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fourteen {
  grid-column: 2;
  grid-row: 5;
  background-image: url("sneakers/sneaker-14.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fifteen {
  grid-column: 3;
  grid-row: 5;
  background-image: url("sneakers/sneaker-15.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sixteen {
  grid-column: 1;
  grid-row: 6;
  background-image: url("sneakers/sneaker-16.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 400px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .container {
    width: 100px;
    height: 100px;
    margin: 15px;
  }

  .image-box {
    width: 150;
  }

}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .container {
    width: 100px;
    height: 100px;
    margin: 15px;
  }

  .image-box {
    width: 150;
  }

}